__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv*/
.tools/
venv/
build*/
dist/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
data/
source/
recordings/
*.build/
tmp/
logs/
*.exe
*.dll
*.obj
*.o
*.a
*.pdb
*.ilk
*.log
imgui.ini
